html,
body {
  font-family: Nunito, Roboto, sans-serif;
}

@media (display-mode: fullscreen) {
  .player-view {
    min-height: 100vh;
  }
}

/* Base font sizes for different classes */
[data-font-size='small'] {
  --font-scale: 0.6;
}

[data-font-size='normal'] {
  --font-scale: 1;
}

[data-font-size='large'] {
  --font-scale: 1.2;
}

[data-font-size='extra-large'] {
  --font-scale: 1.5;
}

/* Apply font-size scaling to elements */
[data-font-size] h1 {
  font-size: calc(var(--font-scale) * 2.5rem);
}

[data-font-size] h2 {
  font-size: calc(var(--font-scale) * 2rem);
}

[data-font-size] p {
  font-size: calc(var(--font-scale) * 1rem);
}

[data-font-size] span {
  font-size: calc(var(--font-scale) * 0.9rem);
}

.jspsych-display-element {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
  margin: 0;
  padding: 0;
}

.jspsych-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100%;
  padding-top: calc(var(--font-scale) * 50px);
}

.jspsych-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: calc(var(--font-scale) * 1rem);
  gap: 5px;
  color: #fff;
}

#jspsych-html-button-response-stimulus {
  max-width: 70vw;
}

#thermometer {
  width: 200px;
  height: 400px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

#mercury {
  width: 100%;
  height: 0;
  background-color: red;
  position: absolute;
  bottom: 0;
  transition: height 0.1s linear;
}

#jspsych-progressbar-container {
  color: #fff;
  border-bottom: 1px solid #444;
  background-color: #141414;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
  position: absolute;
  top: 0px;
  height: calc(var(--font-scale) * 50px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Nunito, Roboto, sans-serif;
}

.custom-dropdown {
  font-family: Nunito, Roboto, sans-serif;
  font-size: calc(var(--font-scale) * 1rem);
}

#jspsych-progressbar-container span {
  padding-right: 14px;
}

#jspsych-progressbar-outer {
  background-color: #a2a2a2;
  width: 50%;
  height: calc(var(--font-scale) * 20px);
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#jspsych-progressbar-inner {
  background-color: #4a4a4a;
  width: 0%;
  height: 100%;
}

.bar {
  background: silver;
  border-radius: 30px;
  margin: 0 0 10px;
  width: 100%;
  height: 2px;
  overflow: hidden;
  position: relative;
}

.progress {
  background: #568259;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.1s;
}

.percentage {
  font-size: calc(var(--font-scale) * 1rem);
}

.percentage:after {
  content: '%';
}

.hg-activeButton {
  background-color: blue;
}

.video-div {
  margin: 0 auto;
  width: calc(var(--font-scale) * 40%);
  max-width: 100%;
  background-color: #fff;
}

.video-div h4 {
  text-align: center;
}

#clock {
  display: block; /* Ensure it is displayed as a block element */
  width: calc(var(--font-scale) * 2em);
  margin-top: 10px; /* Add some space above the clock */
}

.custom-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.hg-activeButton {
  background: #008000 !important;
}

#message-container {
  margin: 0 auto;
}

ol {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
}
ol li {
  text-align: left;
}

ul.warning {
  list-style: none; /* Remove the default bullets */
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline-block;
}

ul.warning li {
  text-align: left;
  color: red;
  position: relative;
  padding-left: 1.5em; /* Add space for the emoji */
}

ul.warning li::before {
  content: '⚠️'; /* Emoji as the bullet point */
  position: absolute;
  left: 0;
}

ul {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline-block;
}
ul li {
  text-align: left;
}
.active {
  color: #01b101;
}

.right-arrow {
  fill: green;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.left-arrow {
  fill: red;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.jspsych-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 5px;
  font-size: calc(var(--font-scale) * 1rem);
  padding: 6px 16px;
  line-height: 1.75;
  min-width: 64px;
  border-radius: 4px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
  text-align: center;
}

.jspsych-btn-progress-bar {
  background-color: white;
  color: #000;
  border: none;
  font-size: calc(var(--font-scale) * 1rem);
  padding: 2px 4px;
  line-height: 1.2;
  border-radius: 4px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
}

#jspsych-survey-likert-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

#jspsych-survey-likert-form input {
  width: fit-content;
}

.jspsych-survey-likert-statement {
  font-size: calc(var(--font-scale) * 1rem) !important;
}

.jspsych-survey-likert-opts {
  font-size: calc(var(--font-scale) * 1rem);
}

.jspsych-survey-likert-opt-label {
  font-size: calc(var(--font-scale) * 1rem);
}

/** PhotoDiode class **/
.photo-diode {
  width: 50px;
  height: 50px;
  z-index: 5;
}

.top-left {
  position: absolute;
  left: 0px;
  top: 0px;
}

.top-right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.customize {
  position: absolute;
  left: var(--photodiode-left);
  top: var(--photodiode-top);
  width: var(--photodiode-width);
  height: var(--photodiode-height);
}

.photo-diode-hide {
  display: none;
}

.photo-diode-black {
  background-color: #000;
}

.photo-diode-white {
  background-color: #fff;
  z-index: 5;
}

.photo-diode-test {
  background-color: #ff0000;
}

/* N-Back Task Styles */
.nback-trial {
  background-color: #000;
  color: #fff;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

.nback-stimulus {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.number-display {
  font-size: calc(var(--font-scale, 1) * 8rem);
  font-weight: bold;
  color: #fff;
}

.nback-intro,
.nback-instructions,
.nback-feedback,
.nback-break,
.nback-ready,
.nback-complete,
.nback-practice-repeat {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.nback-intro h1,
.nback-instructions h2,
.nback-feedback h2,
.nback-break h2,
.nback-ready h2,
.nback-complete h2 {
  margin-bottom: 1rem;
}

.feedback-stats {
  font-size: calc(var(--font-scale, 1) * 1.5rem);
  margin: 2rem 0;
}

.continue-prompt {
  margin-top: 2rem;
  font-style: italic;
  opacity: 0.8;
}

.important {
  font-weight: bold;
  color: #ff9800;
}

.countdown-text {
  font-size: calc(var(--font-scale, 1) * 1.2rem);
}

/* Font size variants for N-back */
.font-small .number-display {
  font-size: 4rem;
}

.font-normal .number-display {
  font-size: 8rem;
}

.font-large .number-display {
  font-size: 10rem;
}

.font-extra-large .number-display {
  font-size: 12rem;
}
